body{
    margin: 20% 20%;
    padding: 10px 10px;
}
.askcolor{
    margin: 20% 10% 10% 10%;
}
.squares{
    width : 30%;
    height: 7em;
    background-color: white;
    padding-bottom: 10%;
    float: left;
    margin: 20px 20px;
    border-radius: 10%;
}
.colorSquare{
    margin: 30% 10% 10% 10%;
}
.color{
    width:60%;
    height:5em;
    padding: 5%;
    margin-bottom: 40px;
    margin-left: 10px;
    background-color: wheat;
    border-radius: 10%;
}
h1, h4{
    color:white;
    text-align: center;
}
.controls{
    text-align: center;
}
button{
    border: none;
}
