<html>
    <head>
        <title>Memory Game</title>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">     
        <style>
            body{
                margin: 20%;
                padding: 10px;
            }
            .askcolor{
                margin: 20% 10% 10% 10%;
            }
            .squares{
                width : 30%;
                height: 7em;
                background-color: white;
                padding-bottom: 10%;
                float: left;
                margin: 20px 20px;
                border-radius: 10%;
            }
            .colorSquare{
                margin: 30% 10% 10% 10%;
            }
            .color{
                width:60%;
                height:5em;
                padding: 5%;
                margin-bottom: 40px;
                margin-left: 10px;
                background-color: wheat;
                border-radius: 10%;
            }
            h1, h4{
                color:white;
                text-align: center;
            }
            .controls{
                text-align: center;
            }
            button{
                border: none;
            }
        </style>
    </head>
    <body style="background-color: #303030; margin:20px;">
        <h1><i class="far fa-lightbulb"></i> Memory game</h1><br>
        <div class="controls">
        <button class="btn btn-primary btn-lg reset">Reset</button>
        <button class="btn btn-success btn-lg">Got it</button>
        <button class="btn btn-warning btn-lg">Remaining Box: <span class="remaining">4</span></button>
        <button class="btn btn-info btn-lg">Attempt: <span class="attempt">0</span></button>
        <hr>
        </div>
        <div class="row">
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-lg-2 col-sm-2">
                <h4>Select from below:</h4>
                <div class="colorSquare">
                    <button class="color"></button>
                    <button class="color"></button>
                    <button class="color"></button>
                    <button class="color"></button>
                </div>
            </div>
            <div class="col-lg-1 col-sm-1" style="border-left:2px solid white;"></div>
            <div class="col-lg-7 col-sm-7" >
                <div class="askcolor">
                    <button class="squares"></button>
                    <button class="squares"></button>
                    <button class="squares"></button>
                    <button class="squares"></button>
                </div>
            </div>
        </div>
        <script type="text/javascript">//Choosing Colors for boxes
        var colors=document.querySelectorAll(".color");
        selectColor();
        //Set up of memory squares
        var originalColor=[];
        var currentSquare=0;
        var remainingCorrect=4;
        var remainingDisplay=document.querySelector(".remaining");
        var attempts=0;
        var attemptDisplay=document.querySelector(".attempt");
        var boxes=document.querySelectorAll(".squares");
        var star1=document.querySelector(".one");
        var star2=document.querySelector(".two");
        var star3=document.querySelector(".three");
        assignColor();
        //Reset button functionality 
        var reset=document.querySelector(".reset");
        reset.addEventListener("click",function(){
            selectColor();
            assignColor();
            attempts=0;
            remainingCorrect=4;
            attemptDisplay.textContent=0;
            remainingDisplay.textContent=4;
            reset.textContent="Reset";
            reserScore();
        })
        //Got it button functionality
        var gotIt=document.querySelector(".btn-success");
        gotIt.addEventListener("click",function(){
            storecolor();
            erasecolor();
        })
        //Select color functionality
        var currentColor = "white";
        for(var i=0;i<colors.length;i++){
            colors[i].addEventListener("click",function(){
                currentColor=this.style.backgroundColor;
        })
        }
        //Redundant part
        boxes[0].addEventListener("click",function(){
            attempts++;
            attemptDisplay.textContent=attempts;
            this.style.backgroundColor=currentColor;
            if(this.style.backgroundColor===originalColor[0])
                    {
                        //alert("matched");
                        this.style.backgroundColor="#303030";
                        remainingCorrect--;
                        remainingDisplay.textContent=remainingCorrect;
                        if(remainingCorrect==0)
                        {
                            reset.textContent="Play Again!";
                            score();
                        }
                    }
        })
        boxes[1].addEventListener("click",function(){
            attempts++;
            attemptDisplay.textContent=attempts;
            this.style.backgroundColor=currentColor;
            if(this.style.backgroundColor===originalColor[1])
                    {
                        //alert("matched");
                        this.style.backgroundColor="#303030";
                        remainingCorrect--;
                        remainingDisplay.textContent=remainingCorrect;
                        if(remainingCorrect==0)
                        {
                            reset.textContent="Play Again!";
                            score();
                        }
                    }
        })
        boxes[2].addEventListener("click",function(){
            attempts++;
            attemptDisplay.textContent=attempts;
            this.style.backgroundColor=currentColor;
            if(this.style.backgroundColor===originalColor[2])
                    {
                        //alert("matched");
                        this.style.backgroundColor="#303030";
                        remainingCorrect--;
                        remainingDisplay.textContent=remainingCorrect;
                        if(remainingCorrect==0)
                        {
                            reset.textContent="Play Again!";
                            score();
                        }
                    }
        })
        boxes[3].addEventListener("click",function(){
            attempts++;
            attemptDisplay.textContent=attempts;
            this.style.backgroundColor=currentColor;
            if(this.style.backgroundColor===originalColor[3])
                    {
                        //alert("matched");
                        this.style.backgroundColor="#303030";
                        remainingCorrect--;
                        remainingDisplay.textContent=remainingCorrect;
                        if(remainingCorrect==0)
                            {
                                reset.textContent="Play Again!";
                                score();
                            }
                    }
        })
        //Utility functions
        function selectColor(){
            for(var i=0;i<colors.length;i++)
            {
                colors[i].style.backgroundColor = givecolor();
            }
        }
        function givecolor(){
            var r=Math.floor(Math.random()*256);
            var g=Math.floor(Math.random()*256);
            var b=Math.floor(Math.random()*256);
            var result="rgb(" + r + ", " + g + ", " + b;
            console.log(result);
            return result;
        }
        function assignColor(){
            for(var i=0;i<boxes.length;i++)
            {
                boxes[i].style.backgroundColor = colors[Math.floor(Math.random()*4)].style.backgroundColor;
            }
        }
        function storecolor(){
            for(var i=0;i<boxes.length;i++)
            {

                originalColor[i]=boxes[i].style.backgroundColor;
                console.log(originalColor[i],boxes[i].style.backgroundColor);
            }
        }
        function erasecolor(){
            for(var i=0;i<boxes.length;i++)
            {
                boxes[i].style.backgroundColor="white";
            }
        }
        if(remainingCorrect==0)
        {
            reset.textContent="Play Again!";
        }
        function score(){
            if(attempts<=6)
            {
                star1.style.color="white";
                star2.style.color="white";
                star3.style.color="white";
            }
            else if(attempts>6&&attempts<=10)
            {
                star1.style.color="white";
                star2.style.color="white";
            }
            else
            {
                star1.style.color="white";
            }
        }
        function reserScore(){
            star1.style.color="#303030";
            star2.style.color="#303030";
            star3.style.color="#303030";
        }
        </script>
    </body>
</html>
